<div id="spinner" >
  <div id="spinning-wheel" class="text-center ">
    <div class="spinner-grow" style="width: 4rem; height: 4rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>System Users</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <!-- <li class="breadcrumb-item">Hotel</li> -->
              <li class="breadcrumb-item active">Add System User</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <% if(flashMessage.length> 0){ %>
        <div class="alert alert-danger m-3 mt-2" style="z-index: 10001;" role="alert" id="flashMessage">
          <%= flashMessage %>
        </div>
        <% } %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Add System User</h3>
              </div>
              <div class="card-body">
                <form action="/admin/Users/addUser" method="POST">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>Name</label>
                            <input type="text" value="<%= oldInput.name %>" name="name" placeholder="Enter Name" class="form-control" required>
                        </div>

                        <div class="form-group col-md-3">
                            <label>Contact</label>
                            <input type="number" value="<%= oldInput.contact %>" name="contact" placeholder="03xxxxxxxxx" class="form-control" required>
                        </div>

                        <div class="form-group col-md-3">
                            <label>CNIC</label>
                            <input type="number" value="<%= oldInput.CNIC %>" name="cnic" placeholder="13 digit cnic" class="form-control" required>
                        </div>

                        <div class="form-group col-md-3">
                            <label>Location</label>
                            <select class="form-control select2" name="location">
                              <% for(let i= 0; i< areas.length; i++) { %> 
                                <option value="<%= JSON.stringify( {id: areas[i].id, name: areas[i].name} ) %>" <%= oldInput.area===areas[i].name ? 'selected' : '' %> ><%= areas[i].name %> </option>
                                <% } %> 
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Address</label>
                            <input type="text" value="<%= oldInput.address %>" name="address" placeholder="House No, Street No, City, District." class="form-control" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Access</label>
                            <select class="form-control" style="width: 100%;" name="access">
                                <option value="0" <%= oldInput.type==='superAdmin' ? 'selected' : '' %> >Full Access</option>
                                <option value="1" <%= oldInput.type==='admin' ? 'selected' : '' %> >Only Read</option>
                            </select>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Email</label>
                            <input type="text" value="<%= oldInput.email %>" name="email" placeholder="example@gmail.com" class="form-control" required>
                        </div>

                        <div class="form-group col-md-3">
                            <label>Password</label>
                            <input type="password" name="password" value="<%= oldInput.password %>" placeholder="Enter Password" class="form-control" required>
                        </div>

                        <div class="form-group col-md-3">
                          <label>Confirm Password</label>
                          <input type="password" name="cnfmPassword" value="" placeholder="Re-type Password" class="form-control" required>
                      </div>
                    </div>



                    <hr>
                    <div class="form-group">
                         
                        <a class="btn btn-secondary btn-sm" name="cancel" type="submit" onclick="history.back(-1)">Cancel</a>
                        <button class="btn btn-success btn-sm" type="submit" name="">Add User</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>