<!-- Primary Page Layout
	================================================== -->
    <div class="section big-55-height over-hide z-bigger customClass">

        <div class="parallax parallax-top" style="background-image: url('/img/rooms.jpg')"></div>
        <div class="dark-over-pages"></div>
    
        <div class="hero-center-section pages">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 parallax-fade-top">
                        <div class="hero-text">Rooms Result</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section padding-top-bottom z-bigger">
        <div class="section z-bigger">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mt-4 mt-lg-0">
                        <div class="row">
                            <% if(rooms.length==0){ %>
                                <h3>No Room Found.</h3>
                                <% } %>
    
                                    <% rooms.forEach(room => { %>
                                        <div class="col-lg-4 mt-4"
                                            data-scroll-reveal="enter bottom move 50px over 0.7s after 0.2s">
                                            <div class="room-box background-grey">
                                                <div class="room-name">Room No. <%= room.details.roomNo %></div>
                                                <!-- <div class="room-per">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div> -->
                                                <img src="<%= '/uploads/' + room.details.gallery[0] %> " alt="">
                                                <div class="room-box-in">
                                                    <h5 class=""><%= room.hotelName %>
                                                    </h5>
                                                    <p class="mt-3">
                                                        <%= room.details.description.substr(0, 60) + '....' %>
                                                    </p>
                                                    <a class="mt-1 btn btn-primary"
                                                        href="<%= `/Hotels/roomBooking/${room.hotelId}?roomId=${room.details.id}` %>">book from <%= room.details.charges %> PKR</a>
    
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
    
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>