<div class="section over-hide" id="bannerSection">
    <div class="dark-over-pages"></div>

    <div class="hero-center-section pages">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 parallax-fade-top">
                    <div class="hero-text"> Your Reservations </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-2">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="list-group font-weight-bold" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active rounded-0" id="list-home-list" data-toggle="list" href="#list-home"
            role="tab" aria-controls="home">Room Reservations</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile"
            role="tab" aria-controls="profile">Appartment Reservations</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages"
            role="tab" aria-controls="messages">Vehicle Reservations</a>
          <a class="list-group-item list-group-item-action rounded-0" id="list-settings-list " data-toggle="list" href="#list-settings"
            role="tab" aria-controls="settings">Tour/Hike Reservations</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-9">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            <% filteredHotels.forEach( hotel=> { %>
              <% hotel.rooms.forEach( room=> { %>
                <% room.reservations.forEach( reservation=> { %>
                  <% if(reservation.checkIn < new Date() || String(user._id) != String(reservation.user._id)) return; %>
            <div class="row border shadow-lg">
              <div class="col-sm-12 col-md-4">
                <img src="/uploads/<%= hotel.gallery[0] %>" class="img-responsive w-100 h-100" alt="">
              </div>
              <div class="col-sm-12 col-md-8">
                <h4 class="font-weight-bold"><%= hotel.name %></h4>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><span class="font-weight-bold">Check In: </span><%= reservation.checkIn %> </li>
                  <li class="list-group-item"><span class="font-weight-bold">Check Out: </span><%= reservation.checkOut %> </li>
                  <li class="list-group-item"><span class="font-weight-bold">You booked for: </span><%= reservation.adults %> adults </li>
                  <li class="list-group-item"><span class="font-weight-bold">Price: </span><%= room.charges %> </li>
                </ul>
              </div>
            </div>
            <% }) }) }) %>
          </div>

          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
            <% filteredAppartments.forEach(appartment=> { %>
              <% appartment.reservations.forEach(reservation=> { %>
                <% if(reservation.checkIn < new Date() || String(user._id) != String(reservation.user._id)) return; %>
                <div class="row border p-1 mb-4">
                  <div class="col-sm-12 col-md-4">
                    <img src="/uploads/<%= appartment.gallery[0] %>" class="img-responsive w-100 h-100" alt="">
                  </div>
                  <div class="col-sm-12 col-md-8">
                    <h4 class="font-weight-bold"><%= appartment.name %></h4>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><span class="font-weight-bold">Check In: </span><%= reservation.checkIn %> </li>
                      <li class="list-group-item"><span class="font-weight-bold">Check Out: </span><%= reservation.checkOut %> </li>
                      <li class="list-group-item"><span class="font-weight-bold">You booked for: </span><%= reservation.adults %> adults </li>
                      <li class="list-group-item"><span class="font-weight-bold">Price: </span><%= appartment.price %> </li>
                    </ul>
                  </div>
                </div>
                <% }) }) %> 
          </div>

          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
            <% filteredVehicles.forEach( vehicle=> { %>
              <% vehicle.reservations.forEach( reservation=> { %>
                <% if(reservation.checkIn < new Date() || String(user._id) != String(reservation.user._id)) return; %>
                <div class="row border p-1 mb-4">
                  <div class="col-sm-12 col-md-4">
                    <img src="/uploads/<%= vehicle.gallery[0] %>" class="img-responsive w-100 h-100" alt="">
                  </div>
                  <div class="col-sm-12 col-md-8">
                    <h4 class="font-weight-bold">Modal: <%= vehicle.model %></h4>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><span class="font-weight-bold">Check In: </span><%= reservation.checkIn %> </li>
                      <li class="list-group-item"><span class="font-weight-bold">Check Out: </span><%= reservation.checkOut %> </li>
                      <li class="list-group-item"><span class="font-weight-bold">You booked for: </span><%= reservation.adults %> adults </li>
                      <li class="list-group-item"><span class="font-weight-bold">Payment: </span><%= 2033 %> </li>
                    </ul>
                  </div>
                </div>
                <% }) }) %> 
          </div>
          <div class="row tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
            <% filteredTours.forEach( tour=> { %>
              <% tour.reservations.forEach( reservation=> { %>
                <% if(tour.startDate < new Date() || String(user._id) != String(reservation.user._id)) return; %>
                <div class="row border p-1 mb-4">
                  <div class="col-sm-12 col-md-4">
                    <img src="/uploads/<%= tour.gallery[0] %>" class="img-responsive w-100 h-100" alt="">
                  </div>
                  <div class="col-sm-12 col-md-8">
                    <h4 class="font-weight-bold"> <%= tour.tourType %></h4>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><span class="font-weight-bold">From </span><%= tour.fromPlace %><span class="font-weight-bold"> To </span><%= tour.toPlace %> </li>
                      <li class="list-group-item"><span class="font-weight-bold">Pick Up location: </span><%= tour.pickupLocation %>, <span class="font-weight-bold">Drop off location: </span><%= tour.dropoffLocation %></li>
                      <li class="list-group-item"><span class="font-weight-bold">You booked: </span><%= reservation.seats %> seats </li>
                      <li class="list-group-item"><span class="font-weight-bold">Payment: </span><%= reservation.charges %> </li>
                    </ul>
                  </div>
                </div>
                <% }) }) %> 
          </div>
        </div>
      </div>
    </div>
</div>