<div id="spinner">
  <div id="spinning-wheel" class="text-center ">
    <div class="spinner-grow" style="width: 4rem; height: 4rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Hotels</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">Hotels</li>
            <li class="breadcrumb-item active">Add Hotel</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <% if(flashMessage.length> 0){ %>
      <div class="alert alert-danger m-3 mt-2" style="z-index: 10001;" role="alert" id="flashMessage">
        <%= flashMessage %>
      </div>
      <% } %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">Add Hotel</h3>
            </div>
            <div class="card-body">
              <form action="/admin/Hotels/addHotel" method="POST">
                <h5><b>Details</b></h5>
                <hr>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Name</label>
                    <input type="text" name="name" value="<%= oldInput.name %>" placeholder="Example: Continental" class="form-control"
                      required>
                  </div>

                  <div class="form-group col-md-3">
                    <label>Location</label>
                    <select class="form-control select2" style="width: 100%; height: 100%;" name="area">
                      <% for( let i=0; i< areas.length; i++) { %>
                        <option value="<%= areas[i].name %>" <%= oldInput.area === areas[i].name ? 'selected' : '' %> >
                          <%= areas[i].name %>
                        </option>
                        <% } %>
                    </select>
                  </div>

                  <div class="form-group col-md-3">
                    <label>Stars</label>
                    <select class="form-control select2" style="width: 100%;" name="stars">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>

                  <div class="form-group col-md-3">
                    <label>Contact</label>
                    <input type="number" value="<%= oldInput.contact %>" name="contact" placeholder="Example: 0946712215" class="form-control" required>
                  </div>

                  <div class="form-group col-md-6">
                    <label>Address</label>
                    <input type="text" name="address" value="<%= oldInput.address %>" placeholder="Example: Near Shell Ptrol Station, Madyan Bazar"
                      class="form-control" required>
                  </div>

                  
                </div>

                <div class="row">
                  <div class="form-group col-sm-12">
                    <div class="card card-primary">
                      <div class="card-header">
                        <div class="card-title">
                          Facilities
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="form-check form-check-inline">
                          <input name="hotWater" class="form-check-input" type="checkbox" id="" value="true">
                          <label class="form-check-label" for="inlineCheckbox1">Hot Water</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input name="heater" class="form-check-input" type="checkbox" id="" value="true">
                          <label class="form-check-label" for="inlineCheckbox2">AC/Heater</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input name="wifi" class="form-check-input" type="checkbox" id="" value="true">
                          <label class="form-check-label" for="inlineCheckbox3">Wifi</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input name="roomService" class="form-check-input" type="checkbox" id="" value="true">
                          <label class="form-check-label" for="inlineCheckbox3">Room Service</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input name="parking" class="form-check-input" type="checkbox" id="" value="true">
                          <label class="form-check-label" for="inlineCheckbox3">Parking Area</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                  <h5><b>Rooms info</b></h5>
                  <hr>
                  <div class="row">
                    <div class="form-group col-md-12">
                      
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">Single Bed</h3>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="form-group col-md-3">
                              <label>Number of Rooms</label>
                              <input type="number" name="singleRooms" value="" placeholder="Total Number of Single Bed Rooms" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Charges</label>
                              <input type="number" value="<%= oldInput.charges %>" name="singleRmCharges" placeholder="i.e: 5000" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Video Link</label>
                              <input type="url" value="<%= oldInput.videoUrl %>" name="singleRmVideoUrl"
                                placeholder="i.e: https://www.youtube.com/embed/XV7OFsykBT0" class="form-control" required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Size</label>
                              <input type="text" value="<%= oldInput.size %>" name="singleRmSize" placeholder="i.e: 47-52 sqft" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Occupency</label>
                              <input type="text" value="<%= oldInput.occupency %>" name="singleRmOccupancy" placeholder="i.e: Upto 4 childrens"
                                class="form-control" required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>View</label>
                              <input type="number" value="<%= oldInput.view %>" name="singleRmView" placeholder="Enter Number of Rooms with View"
                                class="form-control" required>
                            </div>

                            <div class="form-group col-md-3">
                              <label>Bed Size</label>
                              <select class="form-control select2" style="width: 100%;" name="singleRmBedSize">
                                <option value="king" <%=oldInput.bedSize==='king' ? 'selected' : '' %> >King Bed</option>
                                <option value="regular" <%=oldInput.bedSize==='regular' ? 'selected' : '' %> >Queen Bed</option>
                                <option value="king&regular" <%=oldInput.bedSize==='king&regular' ? 'selected' : '' %> >Regular Bed
                                </option>
                              </select>
                            </div>

                        
                            <div class="form-group col-md-6">
                              <label>Description</label>
                              <textarea name="singleRmDescription" id="" rows="5" class="form-control" placeholder="Room Description . . ."
                                required><%= oldInput.description %></textarea>
                            </div>
                        
                            <div class="form-group col-md-6">
                              <label>Features</label>
                              <textarea name="singleRmFeatures" id="" rows="5" class="form-control" placeholder="Room Features . . ."
                                required><%= oldInput.features %> </textarea>
                            </div>
                          </div>
                          
                          
                        </div>
                      </div>
                    </div>

                    <!-- Twin Beds -->
                    <div class="form-group col-md-12" id="twinElem">
                      <input type="hidden" name="twinBeds" value="true">
                      <div class="card card-info">
                        <div class="card-header">

                          <div class="row">
                            <h3 class="card-title col-md-11">Twin Beds</h3>
                            <button class="col-md-1 btn bg-danger rounded-pill m-0 p-0" onclick="removeTwinElem()"><i class="fa fa-minus"></i></button>
                          </div>
                      
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="form-group col-md-3">
                              <label>Number of Rooms</label>
                              <input type="number" name="twinRmNo" value="" placeholder="Total Number of Single Bed Rooms" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Charges</label>
                              <input type="number" value="<%= oldInput.charges %>" name="twinRmCharges" placeholder="i.e: 5000" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Video Link</label>
                              <input type="url" value="<%= oldInput.videoUrl %>" name="twinRmVideoUrl"
                                placeholder="i.e: https://www.youtube.com/embed/XV7OFsykBT0" class="form-control" required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Size</label>
                              <input type="text" value="<%= oldInput.size %>" name="twinRmSize" placeholder="i.e: 47-52 sqft" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Occupency</label>
                              <input type="text" value="<%= oldInput.occupency %>" name="twinRmOccupency" placeholder="i.e: Upto 4 childrens"
                                class="form-control" required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>View</label>
                              <input type="number" value="<%= oldInput.view %>" name="twinRmView" placeholder="Enter Number of Rooms with View"
                                class="form-control" required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Bed Size</label>
                              <select class="form-control select2" style="width: 100%;" name="twinRmBedSize">
                                <option value="king" <%=oldInput.bedSize==='king' ? 'selected' : '' %> >King Bed</option>
                                <option value="regular" <%=oldInput.bedSize==='regular' ? 'selected' : '' %> >Queen Bed</option>
                                <option value="king&regular" <%=oldInput.bedSize==='king&regular' ? 'selected' : '' %> >Regular Bed
                                </option>
                              </select>
                            </div>
                        
                            <div class="form-group col-md-6">
                              <label>Description</label>
                              <textarea name="twinRmDescription" id="" rows="5" class="form-control" placeholder="Room Description . . ."
                                required><%= oldInput.description %></textarea>
                            </div>
                        
                            <div class="form-group col-md-6">
                              <label>Features</label>
                              <textarea name="twinRmFeatures" id="" rows="5" class="form-control" placeholder="Room Features . . ."
                                required><%= oldInput.features %> </textarea>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>

                    <!-- Triple Beds -->
                    <div class="form-group col-md-12" id="tripleElem">
                      <input type="hidden" name="tripleBeds" value="true">
                      <div class="card card-info">
                        <div class="card-header">
                          <div class="row">
                            <h3 class="card-title col-md-11">Triple Beds</h3>
                            <button class="col-md-1 btn bg-danger rounded-pill m-0 p-0" onclick="removeTripleElem()"><i class="fa fa-minus"></i></button>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="form-group col-md-3">
                              <label>Number of Rooms</label>
                              <input type="number" name="tripleRmNo" value="" placeholder="Total Number of Single Bed Rooms" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Charges</label>
                              <input type="number" value="<%= oldInput.charges %>" name="tripleRmCharges" placeholder="i.e: 5000" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Video Link</label>
                              <input type="url" value="<%= oldInput.videoUrl %>" name="tripleRmVideoUrl"
                                placeholder="i.e: https://www.youtube.com/embed/XV7OFsykBT0" class="form-control" required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Size</label>
                              <input type="text" value="<%= oldInput.size %>" name="size" placeholder="i.e: 47-52 sqft" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Occupency</label>
                              <input type="text" value="<%= oldInput.occupency %>" name="tripleRmOccupency" placeholder="i.e: Upto 4 childrens"
                                class="form-control" required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>View</label>
                              <input type="number" value="<%= oldInput.view %>" name="tripleRmView" placeholder="Enter Number of Rooms with View"
                                class="form-control" required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Bed Size</label>
                              <select class="form-control select2" style="width: 100%;" name="tripleRmBedSize">
                                <option value="king" <%=oldInput.bedSize==='king' ? 'selected' : '' %> >King Bed</option>
                                <option value="regular" <%=oldInput.bedSize==='regular' ? 'selected' : '' %> >Queen Bed</option>
                                <option value="king&regular" <%=oldInput.bedSize==='king&regular' ? 'selected' : '' %> >Regular Bed
                                </option>
                              </select>
                            </div>
                        
                            <div class="form-group col-md-6">
                              <label>Description</label>
                              <textarea name="tripleRmDescription" id="" rows="5" class="form-control" placeholder="Room Description . . ."
                                required><%= oldInput.description %></textarea>
                            </div>
                        
                            <div class="form-group col-md-6">
                              <label>Features</label>
                              <textarea name="tripleRmFeatures" id="" rows="5" class="form-control" placeholder="Room Features . . ."
                                required><%= oldInput.features %> </textarea>
                            </div>
                          </div>
                          
                          
                        </div>
                      </div>
                    </div>

                    <!-- quadruple beds -->
                    <div class="form-group col-md-12" id="quadElem">
                      <input type="hidden" name="quadBeds" value="true">
                      <div class="card card-info">
                        <div class="card-header">
                          <div class="row">
                            <h3 class="card-title col-md-11">Quadruple Beds</h3>
                            <button class="col-md-1 btn bg-danger rounded-pill m-0 p-0" onclick="removeQuadElem()"><i class="fa fa-minus"></i></button>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="form-group col-md-3">
                              <label>Number of Rooms</label>
                              <input type="number" name="quadRmNo" value="" placeholder="Total Number of Single Bed Rooms" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Charges</label>
                              <input type="number" value="<%= oldInput.charges %>" name="quadRmCharges" placeholder="i.e: 5000" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Video Link</label>
                              <input type="url" value="<%= oldInput.videoUrl %>" name="quadRmVideoUrl"
                                placeholder="i.e: https://www.youtube.com/embed/XV7OFsykBT0" class="form-control" required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Size</label>
                              <input type="text" value="<%= oldInput.size %>" name="quadRmSize" placeholder="i.e: 47-52 sqft" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Occupency</label>
                              <input type="text" value="<%= oldInput.occupency %>" name="quadRmOccupency" placeholder="i.e: Upto 4 childrens"
                                class="form-control" required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>View</label>
                              <input type="number" value="<%= oldInput.view %>" name="quadRmView" placeholder="Enter Number of Rooms with View"
                                class="form-control" required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Bed Size</label>
                              <select class="form-control select2" style="width: 100%;" name="quadRmBedSize">
                                <option value="king" <%=oldInput.bedSize==='king' ? 'selected' : '' %> >King Bed</option>
                                <option value="regular" <%=oldInput.bedSize==='regular' ? 'selected' : '' %> >Queen Bed</option>
                                <option value="king&regular" <%=oldInput.bedSize==='king&regular' ? 'selected' : '' %> >Regular Bed
                                </option>
                              </select>
                            </div>
                        
                            <div class="form-group col-md-6">
                              <label>Description</label>
                              <textarea name="quadRmDescription" id="" rows="5" class="form-control" placeholder="Room Description . . ."
                                required><%= oldInput.description %></textarea>
                            </div>
                        
                            <div class="form-group col-md-6">
                              <label>Features</label>
                              <textarea name="quadRmFeatures" id="" rows="5" class="form-control" placeholder="Room Features . . ."
                                required><%= oldInput.features %> </textarea>
                            </div>
                          </div>
                          
                          
                        </div>
                      </div>
                    </div>
                   
                  
                  </div>

                <hr>
                <h5><b>Owner Info &amp; Login Details</b></h5>
                <hr>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Name</label>
                    <input type="text" value="<%= oldInput.ownerName %>" name="ownerName" placeholder="Example: Asif Khan" class="form-control" required>
                  </div>

                  <div class="form-group col-md-3">
                    <label>CNIC #</label>
                    <input type="number" name="ownerCNIC" value="<%= oldInput.ownerCNIC %>" placeholder="Example: xxxxx-xxxxxxx-x" class="form-control"
                      required>
                  </div>

                  <div class="form-group col-md-3">
                    <label>Contact</label>
                    <input type="number" name="ownerContact" value="<%= oldInput.ownerContact %>" placeholder="Example: 03xxxxxxxxx" class="form-control"
                      required>
                  </div>


                  <div class="form-group col-md-6">
                    <label>Login Email</label>
                    <input type="email" value="<%= oldInput.loginEmail %>" name="loginEmail" placeholder="Example: example@gmail.com" class="form-control"
                      required>
                  </div>

                  <div class="form-group col-md-6">
                    <label>Password</label>
                    <input type="password" value="<%= oldInput.password %>" name="loginPassword" placeholder="Example: example@gmail.com"
                      class="form-control" required>
                  </div>
                </div>


                <hr>
                <div class="form-group">
                  <a class="btn btn-secondary btn-sm" name="cancel" type="submit" onclick="history.back(-1)">Cancel</a>
                  <button class="btn btn-success btn-sm" type="submit" name="">Add Hotel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<script>
  function removeTwinElem(){
    document.getElementById("twinElem").remove()
  }
  function removeTripleElem(){
    document.getElementById("tripleElem").remove()
  }
  function removeQuadElem(){
    document.getElementById("quadElem").remove()
  }
</script>