<div id="spinner">
  <div id="spinning-wheel" class="text-center ">
    <div class="spinner-grow" style="width: 4rem; height: 4rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Hotels</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">Hotels</li>
            <li class="breadcrumb-item active">Add Hotel</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <% if(flashMessage.length> 0){ %>
      <div class="alert alert-danger m-3 mt-2" style="z-index: 10001;" role="alert" id="flashMessage">
        <%= flashMessage %>
      </div>
      <% } %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">Add Hotel</h3>
            </div>
            <div class="card-body">
              <form action="/admin/Hotels/addHotel" method="POST">
                <h5><b>Details</b></h5>
                <hr>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Name</label>
                    <input type="text" name="name" value="<%= oldInput.name %>" placeholder="Continental" class="form-control"
                      required>
                  </div>

                  <div class="form-group col-md-3">
                    <label>Location</label>
                    <select class="form-control "  name="area">
                      <% for( let i=0; i< areas.length; i++) { %>
                        <option value="<%= areas[i].name %>" <%= oldInput.area === areas[i].name ? 'selected' : '' %> >
                          <%= areas[i].name %>
                        </option>
                        <% } %>
                    </select>
                  </div>

                  <div class="form-group col-md-3">
                    <label>Stars</label>
                    <select class="form-control " style="width: 100%;" name="stars">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>

                  <div class="form-group col-md-3">
                    <label>Contact</label>
                    <input type="number" value="<%= oldInput.contact %>" name="contact" placeholder="0946712215" class="form-control" required>
                  </div>

                  <div class="form-group col-md-4">
                    <label>Address</label>
                    <input type="text" name="address" value="<%= oldInput.address %>" placeholder="Near Shell Ptrol Station, Madyan Bazar"
                      class="form-control" required>
                  </div>

                  <div class="form-group col-md-4">
                    <label>Video Link</label>
                    <input type="url" value="<%= oldInput.videoUrl %>" name="videoUrl"
                      placeholder="i.e: https://www.youtube.com/embed/XV7OFsykBT0" class="form-control">
                  </div>

                  
                </div>

                <div class="row">
                  <div class="form-group col-sm-12">
                    <div class="card card-primary">
                      <div class="card-header">
                        <div class="card-title">
                          Facilities
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="form-check form-check-inline">
                          <input name="hotWater" class="form-check-input" type="checkbox" id="" value="true" <%= oldInput.hotWater ? 'checked' : '' %> >
                          <label class="form-check-label" for="inlineCheckbox1">Hot Water</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input name="heater" class="form-check-input" type="checkbox" id="" value="true" <%= oldInput.heater ? 'checked' : '' %> >
                          <label class="form-check-label" for="inlineCheckbox2">AC/Heater</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input name="wifi" class="form-check-input" type="checkbox" id="" value="true" <%= oldInput.wifi ? 'checked' : '' %> >
                          <label class="form-check-label" for="inlineCheckbox3">Wifi</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input name="roomService" class="form-check-input" type="checkbox" id="" value="true" <%= oldInput.roomService ? 'checked' : '' %> >
                          <label class="form-check-label" for="inlineCheckbox3">Room Service</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input name="parking" class="form-check-input" type="checkbox" id="" value="true" <%= oldInput.parking ? 'checked' : '' %> >
                          <label class="form-check-label" for="inlineCheckbox3">Parking Area</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Description</label>
                    <textarea name="description" rows="5" class="form-control" placeholder="Description . . ." required><%= oldInput.description %></textarea>
                  </div>
              
                  <div class="form-group col-md-6">
                    <label>Features</label>
                    <textarea name="features"  rows="5" class="form-control" placeholder="Features . . ." required><%= oldInput.features %></textarea>
                  </div>
                </div>

                
                <hr>
                  <h5><b>Rooms info</b></h5>
                  <hr>
                  <div class="row">
                    <div class="form-group col-md-12" id="singleElem">
                      <input type="hidden" name="twinBeds" value="true">
                      <div class="card card-info">
                        <div class="card-header">

                          <div class="row">
                            <h3 class="card-title col-md-11">Single Beds</h3>
                            <button class="col-md-1 btn bg-danger rounded-pill m-0 p-0" onclick="removeSingleElem()"><i class="fa fa-minus"></i></button>
                          </div>
                      
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="form-group col-md-3">
                              <label>Number of Rooms</label>
                              <input type="number" name="singleRmNo" value="<%= oldInput.single.total %>" placeholder="Total Number of Single Bed Rooms" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Charges</label>
                              <input type="number" value="<%= oldInput.single.charges %>" name="singleRmCharges" placeholder="Single Room Charges" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Size</label>
                              <input type="text" value="<%= oldInput.single.size %>" name="singleRmSize" placeholder="i.e: 47x52 sqft" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Occupancy</label>
                              <input type="number" value="<%= oldInput.single.occupancy %>" name="singleRmOccupancy" placeholder="i.e: Upto 4 childrens, enter only number"
                                class="form-control" required>
                            </div>
                        
                         
                        
                            <div class="form-group col-md-3">
                              <label>Bed Size</label>
                              <select class="form-control " style="width: 100%;" name="singleRmBedSize">
                                <option value="master" <%=oldInput.single.bedSize==='king' ? 'selected' : '' %> >Master Bed</option>
                                <option value="matress" <%=oldInput.single.bedSize==='king' ? 'selected' : '' %> >Matress</option>
                                <option value="king" <%=oldInput.single.bedSize==='king' ? 'selected' : '' %> >King Bed</option>
                                <option value="queen" <%=oldInput.single.bedSize==='regular' ? 'selected' : '' %> >Queen Bed</option>
                                <option value="regular" <%=oldInput.single.bedSize==='king&regular' ? 'selected' : '' %> >Regular Bed
                                </option>
                              </select>
                            </div>
                        
                          </div>
                          
                        </div>
                      </div>
                    </div>

                    <!-- Twin Beds -->
                    <div class="form-group col-md-12" id="twinElem">
                      <input type="hidden" name="twinBeds" value="true">
                      <div class="card card-info">
                        <div class="card-header">

                          <div class="row">
                            <h3 class="card-title col-md-11">Twin Beds</h3>
                            <button class="col-md-1 btn bg-danger rounded-pill m-0 p-0" onclick="removeTwinElem()"><i class="fa fa-minus"></i></button>
                          </div>
                      
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="form-group col-md-3">
                              <label>Number of Rooms</label>
                              <input type="number" name="twinRmNo" value="<%= oldInput.twin.total %>" placeholder="Total Number of Twin Bed Rooms" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Charges</label>
                              <input type="number" value="<%= oldInput.twin.charges %>" name="twinRmCharges" placeholder="Twin Room Charges" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Size</label>
                              <input type="text" value="<%= oldInput.twin.size %>" name="twinRmSize" placeholder="i.e: 47X52 sqft" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Occupancy</label>
                              <input type="number" value="<%= oldInput.twin.occupancy %>" name="twinRmOccupancy" placeholder="i.e: Upto 4 childrens, enter only number"
                                class="form-control" required>
                            </div>
                        
                        
                            <div class="form-group col-md-3">
                              <label>Bed 1 Size</label>
                              <select class="form-control " style="width: 100%;" name="twinRmBed1Size">
                                <option value="master" <%=oldInput.twin.bed1Size==='master' ? 'selected' : '' %> >Master Bed</option>
                                <option value="matress" <%=oldInput.twin.bed1Size==='matress' ? 'selected' : '' %> >Matress</option>
                                <option value="king" <%=oldInput.twin.bed1Size==='king' ? 'selected' : '' %> >King Bed</option>
                                <option value="queen" <%=oldInput.twin.bed1Size==='queen' ? 'selected' : '' %> >Queen Bed</option>
                                <option value="regular" <%=oldInput.twin.bed1Size==='regular' ? 'selected' : '' %> >Regular Bed
                                </option>
                              </select>
                            </div>

                            <div class="form-group col-md-3">
                              <label>Bed 2 Size</label>
                              <select class="form-control " style="width: 100%;" name="twinRmBed2Size">
                                <option value="master" <%=oldInput.twin.bed2Size==='master' ? 'selected' : '' %> >Master Bed</option>
                                <option value="matress" <%=oldInput.twin.bed2Size==='matress' ? 'selected' : '' %> >Matress</option>
                                <option value="king" <%=oldInput.twin.bed2Size==='king' ? 'selected' : '' %> >King Bed</option>
                                <option value="queen" <%=oldInput.twin.bed2Size==='queen' ? 'selected' : '' %> >Queen Bed</option>
                                <option value="regular" <%=oldInput.twin.bed2Size==='regular' ? 'selected' : '' %> >Regular Bed
                                </option>
                              </select>
                            </div>
                        
                          </div>
                          
                        </div>
                      </div>
                    </div>

                    <!-- Triple Beds -->
                    <div class="form-group col-md-12" id="tripleElem">
                      <input type="hidden" name="tripleBeds" value="true">
                      <div class="card card-info">
                        <div class="card-header">
                          <div class="row">
                            <h3 class="card-title col-md-11">Triple Beds</h3>
                            <button class="col-md-1 btn bg-danger rounded-pill m-0 p-0" onclick="removeTripleElem()"><i class="fa fa-minus"></i></button>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="form-group col-md-3">
                              <label>Number of Rooms</label>
                              <input type="number" name="tripleRmNo" value="<%= oldInput.triple.total %>" placeholder="Total Number of Triple Bed Rooms" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Charges</label>
                              <input type="number" value="<%= oldInput.triple.charges %>" name="tripleRmCharges" placeholder="Triple Room Charges" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Size</label>
                              <input type="text" value="<%= oldInput.triple.size %>" name="tripleRmSize" placeholder="i.e: 47x52 sqft" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Occupancy</label>
                              <input type="text" value="<%= oldInput.triple.occupancy %>" name="tripleRmOccupancy" placeholder="i.e: Upto 4 childrens, enter only number"
                                class="form-control" required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Bed 1 Size</label>
                              <select class="form-control " style="width: 100%;" name="tripleRmBed1Size">
                                <option value="master" <%=oldInput.triple.bed1Size==='master' ? 'selected' : '' %> >Master Bed</option>
                                <option value="matress" <%=oldInput.triple.bed1Size==='matress' ? 'selected' : '' %> >Matress</option>
                                <option value="king" <%=oldInput.triple.bed1Size==='king' ? 'selected' : '' %> >King Bed</option>
                                <option value="queen" <%=oldInput.triple.bed1Size==='queen' ? 'selected' : '' %> >Queen Bed</option>
                                <option value="regular" <%=oldInput.triple.bed1Size==='regular' ? 'selected' : '' %> >Regular Bed
                                </option>
                              </select>
                            </div>

                            <div class="form-group col-md-3">
                              <label>Bed 2 Size</label>
                              <select class="form-control " style="width: 100%;" name="tripleRmBed2Size">
                                <option value="master" <%=oldInput.triple.bed2Size==='master' ? 'selected' : '' %> >Master Bed</option>
                                <option value="matress" <%=oldInput.triple.bed2Size==='matress' ? 'selected' : '' %> >Matress</option>
                                <option value="king" <%=oldInput.triple.bed2Size==='king' ? 'selected' : '' %> >King Bed</option>
                                <option value="queen" <%=oldInput.triple.bed2Size==='queen' ? 'selected' : '' %> >Queen Bed</option>
                                <option value="regular" <%=oldInput.triple.bed2Size==='regular' ? 'selected' : '' %> >Regular Bed
                                </option>
                              </select>
                            </div>

                            <div class="form-group col-md-3">
                              <label>Bed 3 Size</label>
                              <select class="form-control " style="width: 100%;" name="tripleRmBed3Size">
                                <option value="master" <%=oldInput.triple.bed3Size==='master' ? 'selected' : '' %> >Master Bed</option>
                                <option value="matress" <%=oldInput.triple.bed3Size==='matress' ? 'selected' : '' %> >Matress</option>
                                <option value="king" <%=oldInput.triple.bed3Size==='king' ? 'selected' : '' %> >King Bed</option>
                                <option value="queen" <%=oldInput.triple.bed3Size==='queen' ? 'selected' : '' %> >Queen Bed</option>
                                <option value="regular" <%=oldInput.triple.bed3Size==='regular' ? 'selected' : '' %> >Regular Bed
                                </option>
                              </select>
                            </div>
                        
                       
                          </div>
                          
                          
                        </div>
                      </div>
                    </div>

                    <!-- quadruple beds -->
                    <div class="form-group col-md-12" id="quadElem">
                      <input type="hidden" name="quadBeds" value="true">
                      <div class="card card-info">
                        <div class="card-header">
                          <div class="row">
                            <h3 class="card-title col-md-11">Quadruple Beds</h3>
                            <button class="col-md-1 btn bg-danger rounded-pill m-0 p-0" onclick="removeQuadElem()"><i class="fa fa-minus"></i></button>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="form-group col-md-3">
                              <label>Number of Rooms</label>
                              <input type="number" name="quadRmNo" value="<%= oldInput.quad.total %>" placeholder="Total Number of Quadruple Bed Rooms" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Charges</label>
                              <input type="number" value="<%= oldInput.quad.charges %>" name="quadRmCharges" placeholder="Quadruple Room Charges" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Size</label>
                              <input type="text" value="<%= oldInput.quad.size %>" name="quadRmSize" placeholder="i.e: 47x52 sqft" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Occupancy</label>
                              <input type="text" value="<%= oldInput.quad.occupancy %>" name="quadRmOccupancy" placeholder="i.e: Upto 4 childrens, enter only number"
                                class="form-control" required>
                            </div>
                        
                         
                        
                            <div class="form-group col-md-3">
                              <label>Bed 1 Size</label>
                              <select class="form-control " style="width: 100%;" name="quadRmBed1Size">
                                <option value="master" <%=oldInput.quad.bed1Size==='master' ? 'selected' : '' %> >Master Bed</option>
                                <option value="matress" <%=oldInput.quad.bed1Size==='matress' ? 'selected' : '' %> >Matress</option>
                                <option value="king" <%=oldInput.quad.bed1Size==='king' ? 'selected' : '' %> >King Bed</option>
                                <option value="queen" <%=oldInput.quad.bed1Size==='queen' ? 'selected' : '' %> >Queen Bed</option>
                                <option value="regular" <%=oldInput.quad.bed1Size==='regular' ? 'selected' : '' %> >Regular Bed
                                </option>
                              </select>
                            </div>

                            <div class="form-group col-md-3">
                              <label>Bed 2 Size</label>
                              <select class="form-control " style="width: 100%;" name="quadRmBed2Size">
                                <option value="master" <%=oldInput.quad.bed2Size==='master' ? 'selected' : '' %> >Master Bed</option>
                                <option value="matress" <%=oldInput.quad.bed2Size==='matress' ? 'selected' : '' %> >Matress</option>
                                <option value="king" <%=oldInput.quad.bed2Size==='king' ? 'selected' : '' %> >King Bed</option>
                                <option value="queen" <%=oldInput.quad.bed2Size==='queen' ? 'selected' : '' %> >Queen Bed</option>
                                <option value="regular" <%=oldInput.quad.bed2Size==='regular' ? 'selected' : '' %> >Regular Bed
                                </option>
                              </select>
                            </div>
                            
                            <div class="form-group col-md-3">
                              <label>Bed 3 Size</label>
                              <select class="form-control " style="width: 100%;" name="quadRmBed3Size">
                                <option value="master" <%=oldInput.quad.bed3Size==='master' ? 'selected' : '' %> >Master Bed</option>
                                <option value="matress" <%=oldInput.quad.bed3Size==='matress' ? 'selected' : '' %> >Matress</option>
                                <option value="king" <%=oldInput.quad.bed3Size==='king' ? 'selected' : '' %> >King Bed</option>
                                <option value="queen" <%=oldInput.quad.bed3Size==='queen' ? 'selected' : '' %> >Queen Bed</option>
                                <option value="regular" <%=oldInput.quad.bed3Size==='regular' ? 'selected' : '' %> >Regular Bed
                                </option>
                              </select>
                            </div>

                            <div class="form-group col-md-3">
                              <label>Bed 4 Size</label>
                              <select class="form-control " style="width: 100%;" name="quadRmBed4Size">
                                <option value="master" <%=oldInput.quad.bed4Size==='master' ? 'selected' : '' %> >Master Bed</option>
                                <option value="matress" <%=oldInput.quad.bed4Size==='matress' ? 'selected' : '' %> >Matress</option>
                                <option value="king" <%=oldInput.quad.bed4Size==='king' ? 'selected' : '' %> >King Bed</option>
                                <option value="queen" <%=oldInput.quad.bed4Size==='queen' ? 'selected' : '' %> >Queen Bed</option>
                                <option value="regular" <%=oldInput.quad.bed4Size==='regular' ? 'selected' : '' %> >Regular Bed
                                </option>
                              </select>
                            </div>
                      
                          </div>
                          
                          
                        </div>
                      </div>
                    </div>

                    <!-- Quintuple -->
                    <div class="form-group col-md-12" id="quinElem">
                      <div class="card card-info">
                        <div class="card-header">
                          <div class="row">
                            <h3 class="card-title col-md-11">Quintuple Beds</h3>
                            <button class="col-md-1 btn bg-danger rounded-pill m-0 p-0" onclick="removeQuinElem()"><i class="fa fa-minus"></i></button>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="form-group col-md-3">
                              <label>Number of Rooms</label>
                              <input type="number" name="quinRmNo" value="<%= oldInput.quin.total %>" placeholder="Total Number of Quintuple Bed Rooms" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Charges</label>
                              <input type="number" value="<%= oldInput.quin.charges %>" name="quinRmCharges" placeholder="Quintuple Room Charges" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Size</label>
                              <input type="text" value="<%= oldInput.quin.size %>" name="quinRmSize" placeholder="i.e: 47-52 sqft" class="form-control"
                                required>
                            </div>
                        
                            <div class="form-group col-md-3">
                              <label>Occupancy</label>
                              <input type="text" value="<%= oldInput.quin.occupancy %>" name="quinRmOccupancy" placeholder="i.e: Upto 4 childrens, enter only number"
                                class="form-control" required>
                            </div>
                        
                        
                        
                            <div class="form-group col-md-3">
                              <label>Bed 1 Size</label>
                              <select class="form-control" style="width: 100%;" name="quinRmBed1Size">
                                <option value="master" <%=oldInput.quin.bed1Size==='master' ? 'selected' : '' %> >Master Bed</option>
                                <option value="matress" <%=oldInput.quin.bed1Size==='matress' ? 'selected' : '' %> >Matress</option>
                                <option value="king" <%=oldInput.quin.bed1Size==='king' ? 'selected' : '' %> >King Bed</option>
                                <option value="queen" <%=oldInput.quin.bed1Size==='queen' ? 'selected' : '' %> >Queen Bed</option>
                                <option value="regular" <%=oldInput.quin.bed1Size==='regular' ? 'selected' : '' %> >Regular Bed
                                </option>
                              </select>
                            </div>

                            <div class="form-group col-md-3">
                              <label>Bed 2 Size</label>
                              <select class="form-control " style="width: 100%;" name="quinRmBed2Size">
                                <option value="master" <%=oldInput.quin.bed2Size==='master' ? 'selected' : '' %> >Master Bed</option>
                                <option value="matress" <%=oldInput.quin.bed2Size==='matress' ? 'selected' : '' %> >Matress</option>
                                <option value="king" <%=oldInput.quin.bed2Size==='king' ? 'selected' : '' %> >King Bed</option>
                                <option value="queen" <%=oldInput.quin.bed2Size==='queen' ? 'selected' : '' %> >Queen Bed</option>
                                <option value="regular" <%=oldInput.quin.bed2Size==='regular' ? 'selected' : '' %> >Regular Bed
                                </option>
                              </select>
                            </div>
                            
                            <div class="form-group col-md-3">
                              <label>Bed 3 Size</label>
                              <select class="form-control " style="width: 100%;" name="quinRmBed3Size">
                                <option value="master" <%=oldInput.quin.bed3Size==='master' ? 'selected' : '' %> >Master Bed</option>
                                <option value="matress" <%=oldInput.quin.bed3Size==='matress' ? 'selected' : '' %> >Matress</option>
                                <option value="king" <%=oldInput.quin.bed3Size==='king' ? 'selected' : '' %> >King Bed</option>
                                <option value="queen" <%=oldInput.quin.bed3Size==='queen' ? 'selected' : '' %> >Queen Bed</option>
                                <option value="regular" <%=oldInput.quin.bed3Size==='regular' ? 'selected' : '' %> >Regular Bed
                                </option>
                              </select>
                            </div>

                            <div class="form-group col-md-3">
                              <label>Bed 4 Size</label>
                              <select class="form-control " style="width: 100%;" name="quinRmBed4Size">
                                <option value="master" <%=oldInput.quin.bed4Size==='master' ? 'selected' : '' %> >Master Bed</option>
                                <option value="matress" <%=oldInput.quin.bed4Size==='matress' ? 'selected' : '' %> >Matress</option>
                                <option value="king" <%=oldInput.quin.bed4Size==='king' ? 'selected' : '' %> >King Bed</option>
                                <option value="queen" <%=oldInput.quin.bed4Size==='queen' ? 'selected' : '' %> >Queen Bed</option>
                                <option value="regular" <%=oldInput.quin.bed4Size==='regular' ? 'selected' : '' %> >Regular Bed
                                </option>
                              </select>
                            </div>

                            <div class="form-group col-md-3">
                              <label>Bed 5 Size</label>
                              <select class="form-control " style="width: 100%;" name="quinRmBed5Size">
                                <option value="king" <%=oldInput.quin.bed5Size==='master' ? 'selected' : '' %> >Master Bed</option>
                                <option value="king" <%=oldInput.quin.bed5Size==='matress' ? 'selected' : '' %> >Matress</option>
                                <option value="king" <%=oldInput.quin.bed5Size==='king' ? 'selected' : '' %> >King Bed</option>
                                <option value="queen" <%=oldInput.quin.bed5Size==='queen' ? 'selected' : '' %> >Queen Bed</option>
                                <option value="regular" <%=oldInput.quin.bed5Size==='regular' ? 'selected' : '' %> >Regular Bed
                                </option>
                              </select>
                            </div>
                      
                          </div>
                          
                          
                        </div>
                      </div>
                    </div>
                   
                  
                  </div>

                <hr>
                <h5><b>Owner Info &amp; Login Access Details</b></h5>
                <hr>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Name</label>
                    <input type="text" value="<%= oldInput.ownerName %>" name="ownerName" placeholder="Owner Full Name" class="form-control" required>
                  </div>

                  <div class="form-group col-md-3">
                    <label>CNIC #</label>
                    <input type="number" name="ownerCNIC" value="<%= oldInput.ownerCNIC %>" placeholder="xxxxxxxxxxxxx" class="form-control"
                      required>
                  </div>

                  <div class="form-group col-md-3">
                    <label>Contact</label>
                    <input type="number" name="ownerContact" value="<%= oldInput.ownerContact %>" placeholder="03xxxxxxxxx" class="form-control"
                      required>
                  </div>


                  <div class="form-group col-md-6">
                    <label>Login Email</label>
                    <input type="email" value="<%= oldInput.loginEmail %>" name="loginEmail" placeholder="example@gmail.com" class="form-control"
                      required>
                  </div>

                  <div class="form-group col-md-3">
                    <label>Password</label>
                    <input type="password" value="<%= oldInput.password %>" name="loginPassword" placeholder=""
                      class="form-control" required>
                  </div>
                  <div class="form-group col-md-3">
                    <label>Confirm Password</label>
                    <input type="password" value="<%= oldInput.password %>" name="cnfmPassword" placeholder=""
                      class="form-control" required>
                  </div>
                </div>


                <hr>
                <div class="form-group">
                  <a class="btn btn-secondary btn-sm" name="cancel" type="submit" onclick="history.back(-1)">Cancel</a>
                  <button class="btn btn-success btn-sm" type="submit" name="">Add Hotel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<script>
  function removeSingleElem(){
    document.getElementById("singleElem").remove()
  }
  function removeTwinElem(){
    document.getElementById("twinElem").remove()
  }
  function removeTripleElem(){
    document.getElementById("tripleElem").remove()
  }
  function removeQuadElem(){
    document.getElementById("quadElem").remove()
  }
  function removeQuinElem(){
    document.getElementById("quinElem").remove()
  }
</script>