<!-- Primary Page Layout
	================================================== -->

<div class="section big-55-height over-hide customClass">

    <div class="parallax parallax-top" style="background-image: url('/img/Mahodand-lake-kalam.jpg')"></div>
    <div class="dark-over-pages"></div>

    <div class="hero-center-section pages">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 parallax-fade-top">
                    <div class="hero-text">Tour Booking</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section padding-top-bottom z-bigger">
    <div class="section z-bigger">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mt-4 mt-lg-0">
                    <div class="section">
                        <div class="customNavigation rooms-sinc-1-2">
                            <a class="prev-rooms-sync-1"></a>
                            <a class="next-rooms-sync-1"></a>
                        </div>
                        <div id="rooms-sync1" class="owl-carousel">
                            <% tour.gallery.forEach( image => { %>
                            <div class="item">
                                <img src="/uploads/<%= image %>" alt="">
                            </div>
                            <% }) %>
                        </div>
                    </div>
                    <div class="section">
                        <div id="rooms-sync2" class="owl-carousel">
                            <% tour.gallery.forEach( image => { %>
                                <div class="item">
                                    <img src="/uploads/<%= image %>" alt="">
                                </div>
                                <% }) %>
                        </div>
                    </div>

                    <!-- If No video, then don't execute below code -->
                    <div class="section pt-5">
                        <h5>Featured Video</h5><br>
                    </div>
                    <!-- Copy SRC from iframe tag and put it in src -->
                    <div class="section big-55-height over-hide z-bigger">
                        <iframe style="width: 100%; max-height: 100%; min-height: 100%;"
                            src="https://www.youtube.com/embed/<%= tour.videoUrl %>" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <!-- Till Here! -->


                    <div class="section pt-5">
                        <h5>description</h5>
                        <p class="mt-3"><%= tour.description %></p>
                    </div>


                    <div class="section pt-4">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="mb-3">Overview</h5>
                            </div>
                            <!-- <div class="col-lg-6">
                                <p><strong class="color-black">Hot Water:</strong> Yes </p>
                                <p><strong class="color-black">Heater/AC:</strong> Yes </p>
                                <p><strong class="color-black">Balcony:</strong> Yes</p>
                                <p><strong class="color-black">Parking:</strong> Yes</p>
                                <p><strong class="color-black">Room service:</strong> Yes</p>
                            </div> -->
                            <div class="col-lg-6">
                                <!-- <p><strong class="color-black">Apartment size:</strong> 470 - 540 sqft</p>
                                <p><strong class="color-black">Occupancy:</strong> Up to 4 adulds</p>
                                <p><strong class="color-black">Bed size:</strong> King and regular</p> -->
                                <p><strong class="color-black">Charges Per Head:</strong> <%= tour.chargesPerHead %> Pkr</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 order-first order-lg-last">
                    <div class="section background-dark p-4">
                        <div class="row">
                            <!-- <div class="col-12">
                                <div class="input-daterange input-group" id="flight-datepicker">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-item">
                                                <span class="fontawesome-calendar"></span>
                                                <input class="input-sm" type="text" autocomplete="off" id="start-date-1"
                                                    name="start" placeholder="chech-in date"
                                                    data-date-format="DD, MM d" />
                                                <span class="date-text date-depart"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 pt-4">
                                            <div class="form-item">
                                                <span class="fontawesome-calendar"></span>
                                                <input class="input-sm" type="text" autocomplete="off" id="end-date-1"
                                                    name="end" placeholder="check-out date"
                                                    data-date-format="DD, MM d" />
                                                <span class="date-text date-return"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-12">
                                <div class="row">
                                    <p class="text-danger"><%= flashMessage %> </p>
                                    <div class="col-12 pt-4">
                                        <% if(tour.availableSeats > 0){ %> 
                                            <select name="adults" class="wide" id="seats">
                                                <option data-display="Number of persons">Number of persons</option>
                                                <% for(let i= 1; i<= tour.availableSeats; i++){ %>
                                                    <option value="<%= i %>"><%= i %></option>
                                                j<% } %> 
                                            </select>
                                            <% }else{ %>
                                                <p class="text-danger">All Seats are taken.</p>
                                                <% } %> 
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" value="<%= tour.id %>" id="tourId">
                            <div class="col-12 pt-4">
                                <a class="booking-button" href="javascript: ;" id="tourEnrolling">book now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>