<!-- Primary Page Layout
	================================================== -->
<div class="section big-55-height over-hide z-bigger customClass">

	<div class="parallax parallax-top" style="background-image: url('../img/old-town-by-welcome-apartment.jpg')"></div>
	<div class="dark-over-pages"></div>

	<div class="hero-center-section pages">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 parallax-fade-top">
					<div class="hero-text"><%= location %> Appartments</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="container sliderContainerClass" id="fixed">
	<div class="row">
		<div class="col-12 mt-3">
			<div class="booking-hero-wrap customWrapper">
				<div class="row justify-content-center customJustifier">
					<div class="col-md-5 col-sm-12" id="dateId">
						<div class="input-daterange input-group" id="flight-datepicker">
							<div class="row">
								<div class="col-6">
									<div class="form-item inputClass">
										<span class="fontawesome-calendar"></span>
										<input class="input-sm" type="text" autocomplete="off" id="start-date-1"
											name="start" placeholder="chech-in date" data-date-format="DD, MM d" />
										<span class="date-text date-depart"></span>
									</div>
								</div>
								<div class="col-6">
									<div class="form-item inputClass">
										<span class="fontawesome-calendar"></span>
										<input class="input-sm" type="text" autocomplete="off" id="end-date-1"
											name="end" placeholder="check-out date" data-date-format="DD, MM d" />
										<span class="date-text date-return"></span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-5 col-sm-12" id="dateId">
						<div class="row">
							<div class="col-6 selectClassCustom">
								<select class="wide nice-select">
									<option data-display="Select Location"></option>
									<option value="Kalam">Kalam</option>
									<option value="Malamjabba">Malamjabba</option>
									<option value="Bahrain">Bahrain</option>
									<option value="Madyan">Madyan</option>
									<option value="Utror">Utror</option>
									<option value="GabinJabba">GabinJabba</option>
								</select>
							</div>

							<div class="col-6 selectClassCustom">
								<select name="adults" class="wide">
									<option data-display="adults">adults</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-6  col-sm-4 col-lg-2">
						<a class="booking-button" href="search.html">Search!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="section padding-top-bottom z-bigger">
	<div class="section z-bigger">
		<div class="container">
			<div class="row">
				
				<% if(appartments.length == 0){ %>
					<h4>No Appartments Found</h4>
				<% } %>  
	
				<% appartments.forEach(appartment => { %> 
				<div class="col-md-4 mt-4 mt-md-0" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.2s">
					<div class="room-box background-white">
						<img src="/uploads/<%= appartment.gallery[0] ? appartment.gallery[0] : 'noImage.png' %>" alt="">
						<div class="room-box-in">
							<h5 class=""><%= appartment.name %></h5>
							<p class="mt-3"><strong>Address: </strong> <%= appartment.address %> </p>
							<a class="mt-1 btn btn-primary" href="/Appartments/apartmentBooking/<%= appartment.id %>">Select Apartment</a>
							<!-- <a class="mt-1 btn btn-primary" href="/Appartments/appartmentGallery">Gallery</a> -->
						</div>
					</div>
				</div>
				<% }) %> 
				
			</div>
		</div>
	</div>
</div>